# Efipay
EFIPAY_ENV=production
EFIPAY_CLIENT_ID=Client_Id_6f73af9619a812ddac8f6b434a33f7e34ca1a60b
EFIPAY_CLIENT_SECRET=Client_Secret_f35b6a7d6fb1947a0647d9f7443244eb884aacd4

# URL do serviço de login (nsa-login-api) já deployado no Railway
LOGIN_API_URL=https://<sua-nsa-login-api>.railway.app

# CORS
CORS_ORIGIN=https://sites.google.com

# Porta
PORT=3000
